{% extends 'base.html.twig' %}

{% block title %}Recherche "{{ query }}" - Le bon coin du pauvre{% endblock %}

{% block body %}

    <div class="ads d-flex flex-wrap justify-content-around">
        {% for ad in ads %}
            {{ include('ad/single.html.twig', {'ad': ad}) }}
        {% endfor %}
    </div>

{% endblock %}
