{% extends 'base.html.twig' %}

{% block title %}Hello AdController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1 class="col-xs-12">Liste des annonces</h1>

        {% for ad in ads %}
            {{ include('ad/single.html.twig', {'ad': ad}) }}
        {% endfor %}
    </div>
</div>
{% endblock %}