{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            {% if app.user %}
                <a href="{{ path('lbcdp_ad_new') }}" class="btn btn-primary">Créer votre annonce</a>
            {% endif %}

            <h1 class="col-xs-12">Liste des annonces</h1>

            {% for ad in ads %}
                {{ include('ad/single.html.twig', {'ad': ad}) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}