{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(newAddForm) }}
{{ form_widget(newAddForm) }}
<button type="submit">
    Créer votre annonce du pauvre
</button>
{{ form_end(newAddForm) }}
{% endblock %}