{% extends 'base.html.twig' %}

{% block body %}

<div>
    <p>Voulez-vous réellement supprimer votre pauvre annonce <span>"{{ ad.title }}"</span> ? </p>
    <form method="POST">
        <button type="submit" value="y" >Bien-sûr tu me prends pour quoi ?</button>
        <button type="submit" value="n" >OULALALAH MAIS QU'EST-CE QUE JE FOUS LA</button>
    </form>
</div>

{% endblock %}
