<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form enctype="multipart/form-data" method="post" action="{{ path('test_upload') }}">
    <input type="file" name="image">
    <button type="submit">Upload !</button>
</form>

</body>
</html>