{% extends 'base.html.twig' %}

{% block body %}
    <p>Erreur quatre cent quatre</p>
    <p >Pas trouvé</p>
    <p>Retour à <a href="{{ path('lbcdp_homepage') }}">la page maison</a></p>
{% endblock %}